@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
  --brand-color: rgba(79, 112, 255, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-inter-tight);
  --brand-color: rgba(79, 112, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-color: rgba(79, 112, 255, 1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  --brand-color: rgba(79, 112, 255, 1);
}

